.mainPageWrap {
  display: flex;
  height: 100vh;
  width: 100%;

  .renderDialogs {
    flex: 3; // 30% (3 части из 10)
    min-width: 0; // важно для корректного сжатия
  }

  .messenger {
    flex: 7; // 70% (7 частей из 10)
    min-width: 0; // важно для корректного сжатия
  }
}
